footer {
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: cac6bb;
  margin-top: 50px;
} 
.cardContainer {
  margin-top: 20px; 
  height: 200px;
}
.card {
  margin: 0 auto;
}
.btn-secondary {
  color-scheme: rgb(196, 190, 198);
}